.task__create {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
  }

  input:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all 0.5s ease-out;
  }

  button {
    width: 100px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }

  button:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease-out;
  }
}

.task__strikethrough {
  text-decoration: line-through;
}

.task__list {
  margin-left: 239px;
  padding: 20px 0 0 0;
  list-style: none;

  input {
    display: none;
  }
  input:checked {
    & + label::before {
      content: "\2713";
      background-color: #000000;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-out;
    }
  }

  label {
    display: flex;
    cursor: pointer;
    &::before {
      content: "";
      border: 0.05em solid black;
      height: 1em;
      width: 1em;
      border-radius: 5px;
      margin-right: 10px;
      transition: all 0.5s ease-out;
    }
    &:hover {
      &::before {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .task {
    max-width: 529px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(209, 209, 209, 0.363);
    li {
      cursor: pointer;
    }
    &__delete {
      max-width: 100px;
      width: 100px;
      height: 35px;
      border-radius: 10px;
      border: 1px solid black;
    }

    &__delete:hover {
      background-color: red;
      color: white;
    }
  }
}

hr {
  margin: 30px 0px 30px 0px;
}
.task__completed {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h3 {
    font-size: 20px;
    color: gray;
  }
  ul {
    color: gray;
    list-style: none;
  }
  p {
    color: gray;
  }
}

.task__show {
  display: flex;
  align-items: center;
  gap: 20px;
  &_down {
    border: none;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.2s ease-out;
  }
  &_up {
    border: none;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all 0.2s ease-out;
  }
}

.old-task {
  margin-left: 50px;
  &_position {
    display: flex;
    column-gap: 20px;
    margin: 5px 0px 5px 0px;
  }
}
